* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    flex: 1;
    font-size: 16px;
    padding: 8px 24px;;
    min-width: 3vh;
}

h1 {
    text-align: center;
    margin: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
    gap: 16px;
}

.move-container {
    flex: 1;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}